# Please add your dependencies here




# CI required libraries. Please DO NOT remove. TQ!
coverage
pyinstaller
patchelf-wrapper; sys_platform == 'linux' and platform_machine == 'x86_64'
staticx; sys_platform == 'linux' and platform_machine == 'x86_64'
wheel
twine
